body {
    font-family: Arial;
    font-size: 20px;
}

.game {
    position: relative;
    background-image: url('assets/ocean.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 8px 8px 0 0;
    height: 360px;
    width: 640px;
}
